*{
	font-family: 'Raleway', sans-serif;
}


.navigation{
		position: fixed;
    z-index: 2;
    width: 100%;
	.logo_l{
		padding: 0;
		.logo{
			position: absolute;
	    z-index: 2;
	    background-color: #ff6600;
			img{
				width: 100%;
			}
		}
	}

	.header_burger{
			display: none;
			position: absolute;
			width: 30px;
			height: 20px;
			left: 90%;
			top: 35%;
			float: right;
			z-index: 3;
			cursor: pointer;
			&:before,&:after{
				content:'';
				background-color:#ff6600;
				position: absolute;
				width: 100%;
				height: 2px;
				left: 0;
				transition: all 0.4s ease 0s;
			}
			span{
				background-color: #ff6600;
				position: absolute;
				width: 100%;
				height: 2px;
				left: 0;
				top: 9px;
				transition: all 0.4s ease 0s;
			}
		}
		.header_burger:before{
			top: 0;
		}
		.header_burger:after{
			bottom: 0;
		}

		.active:before{
			 transform: rotate(45deg);
			 top: 9px;
		}	
		.active:after{
			 transform: rotate(-45deg);
			 bottom: 9px;
		}
		.active{
			span{
				transform: scale(0);
			}
		}

	.top_bar{
		background-color: #101010;
		padding: 10px 0px 10px 25px;
		.top_sp{
			span{
				font-size: 10px;
				color: #858585;
				text-transform: uppercase;
			}
			nav{
				float: right;
				padding-right: 40px;
				ul{
					padding: 0;
					margin: 0;
					li{
						display: inline-block;
						a{
							font-size: 10px;
							color: #858585;
							padding: 0px 6px 0px 6px;
							text-transform: uppercase;
							text-decoration: none;
							&:hover{
								transition: .3s;
								color: #dedede;
								border-bottom: 2px solid #dedede;
							}
						}
					}
				}
			}
		}
	}

	.main_bar{
		background-color: #ffffff;
			.main_nav{
				margin: 22px 0px 22px 0px;
				ul{
					padding: 0;
					margin: 0;
					li{
						display: inline-block;
						a{
						font-size: 17px;
						font-weight: 700;
						text-decoration: none;
						color: #070707;
						padding: 0 25px 0 25px;
						cursor: pointer;
						&:hover{
								transition: .3s;
								color: #ff6600;
								border-bottom: 3px solid #ff6600;
							}
						&:active{
							color: #070707;
						}		
					}
				}
				.main_search{
					float: right;
					.search_box{
						position: absolute;
						top: 14px;
						right: 90px;
						background: #ff6600;
						border-radius: 40px;
						padding: 5px;
						height: 40px;
						&:hover >.search_txt{
							width: 120px;
							padding: 0;
						}
						&:hover >.search_btn{
							background: #fff;
							color: #ff6600;
						}
						.search_txt{
							border: none;
							background: none;
							outline: none;
							padding: 0;
							color: #fff;
							font-size: 15px;
							transition: 0.4s;
							line-height: 30px;
							width: 0px;
							transition: 0.4s;
						}
						.search_btn{
							float: right;
							height: 30px;
							width: 30px;
							border-radius: 50%;
							display: flex;
							justify-content: center;
							align-items: center;
							text-decoration: none;
							color: #4c4c4c;
							cursor: pointer;
							&:active{
									color: #ff6600;
								}			
						}
					}		
					.basket_btn{
						position: absolute;
					  height: 39px;
					  width: 39px;
					  top: 14px;
					  right: 40px;
				    display: flex;
				    justify-content: center;
					  align-items: center;
				    border-radius: 50%;
				    background: #ff6600;
				    text-decoration: none;
						color: #4c4c4c;
						cursor: pointer;
						&:hover{
								transition: .3s;
								color: #fff;
							}
						&:active{
								color: #070707;
							}			
					}
				}
			}
		}
	}
	
}

.head_slider{
	.head_slider_sl{
		padding-right: 0px;
		padding-left: 0px;
		.sl_slide{
			position: relative;
			margin-bottom: 0px;
				.img_bg{
				    width: 100%;
					}
			.carousel-caption {
				left: 5%;
				right: 5%;
			  top: 16%;
			  padding: 0;
			  margin-top: 30px;
			  img{
					margin: auto;
					&:hover{
						background-color: #ff6600;
						opacity: 0.5;
					}
			  }
			  h1{
			  	padding-top: 100px;
			  	font-size: 80px;
					font-weight: 700;
			  }
			  p{
			  	font-size: 20px;
			  	padding-bottom: 50px;
			  }
			  .btn_slider{
			  	padding: 15px 30px;
			  	font-size: 12px;
			  	font-weight: 700;
			  	color: #ff6600;
			  	border: solid 2px #fff;
			  	background: transparent;
			  	outline: none;
			  	cursor: pointer;
			  	&:active{
			  		background: #000;
			  		opacity: 0.7;
			  		color: #fff;
			  	}
			  }
			}
			.slick-arrow{
				position: absolute;
				z-index: 1;
			}
			.slick-prev{
				left: 3px;
				border-bottom: 4px solid #ff6600 ;
				height: 5px;
				width: 50px;
			}
			.slick-next{
				right: 3px;
				border-bottom: 4px solid #ff6600 ;
				height: 5px;
				width: 50px;
			}
			.slick-prev::before,.slick-next::before{
				content: '';
			}
			.slick-dots{
				bottom: 80px;
				li{
					button{
						border: 1px solid #000;
						border-radius: 50%;
						-webkit-webkit-transition: border-color .3s ;
						-o-webkit-transition: border-color .3s ;
						transition: border-color .3s;
						&:before{
							content: '';
							width: 8px;
							height: 8px;
							background: #000;
							opacity: 0.8;
							border-radius: 50%;
							top: 50%;
							left: 50%;
							margin: -4px 0 0 -4px;
							-webkit-webkit-transition: background .3s ;
							-o-webkit-transition: background .3s ;
							transition: background .3s;
						}
					}
				}
				.slick-active{
						button{
							&:hover{
								border-color: #ff6600;
							}
							&:before{
							background: #ff6600;
						}
					}
				}
			}
		}
	}
}

main{
	background-color: #f4f4f4;
	padding-bottom: 75px;

	.column_promo{
		position: relative;
		top:-40px;
		.column_promo_1,.column_promo_2{
			padding-right: 0px;
			padding-left: 0px;
			background-color: #ff6600;
			.column_promo_1_head{
				position: absolute;
				border-right: solid 5px #ffffff;
				border-bottom: solid 5px #ffffff;
				margin-left: 40px;
    		margin-top: 50px;
    		&:before{
    			content: "";
    			position: absolute;
					top: -2px;
					left: 30%;
					width: 71%;
					border-top: 5px solid #ffffff;
    		}
    		&:after{
    			content: "";
			   	position: absolute;
			    top: 60%;
			    height: 40%;
			    border-left: 5px solid #ffffff;
    		}
				p{
					padding-right: 210px;
   				padding-bottom: 100px;
					font-size: 50px;
					font-weight: 700;
					color: #ffffff;
					line-height: 1;
				}
			}
			img{
				float: right;
				padding: 32px 0px 35px 0px;
			}
			nav{
				margin: 350px 0px 0px 40px;
				a{
					font-size: 12px;
					font-weight: 400;
					text-transform: uppercase;
					text-decoration: none;
					color: #ffffff;
					padding-right: 20px;
					&:hover{
							transition: .9s;
							color: #070707;
						}
					&:active{
							color: #ffffff;
						}	
				}
			}
		}
		.column_promo_2{
			padding-right: 0px;
			padding-left: 0px;
			background-color: #d4d4d4;
			.column_promo_1_head{
				&:before{
					left: 50%;
					width: 51%;
    		}
			}
			img{
				padding: 110px 0px 40px 0px;
			}
		}
	}

	.blog{
		.head_blog{
			margin: 40px auto;
			text-align: center;
			h1{
				font-size: 48px;
				font-weight:700;
				color: #1f1f1f;
			}
			span{
				font-size: 20px;
				font-weight:400;
				color: #8f8f8f;
			}
		}
		.blog_big{
			img{
				&:hover{
					transition: .6s;
					opacity: 0.5;
					cursor: pointer;
				}
			}
		}
		.img_blog{
			padding-left: 0px;
			padding-right: 0px;
			img{
				width: 100%;
			}
		}
		.span_blog{
			background-color: #fff;
			text-align: center;
			padding: 80px 10px;
			span{
				font-size: 15px;
				font-weight: 700;
				color: #000;
			}
		}
		
		.btn_blog{
			margin: 75px auto 0px auto;
			text-align: center;
			.btn_slider{
				padding: 15px 30px;
				font-size: 12px;
				font-weight: 700;
				color: #ff6600;
				border: solid 2px #e1e1e1;
				background: transparent;
				outline: none;
				cursor: pointer;
				&:active{
					background: #000;
					opacity: 0.5;
					color: #ff6600;
				}
			}	
		}

	}

}

footer{
	.brand_logos{
		background-color: #e1e1e1;
		.brand{
			padding: 90px 0px;
			text-align: center;
			img{
				opacity: 0.5;
					&:hover{
						transition: .5s;
						opacity: 1;
					}
			}
		}
	}
	
	.footer_menu{
		background-color: #161616;
		padding: 50px 0px 40px 0px;
		.links{
			padding-left: 0px;
			padding-right: 0px;
			text-align: center;
			.footer_menu_links{
				padding-top: 50px;
				a{
					font-size: 17px;
					font-weight: 700;
					text-decoration: none;
					color: #7b7b7b;
					cursor: pointer;
					padding: 15px 5px;
					&:hover{
						transition: .3s;
						border-bottom: 2px solid #ff6600;
					}
					&:active{
							color: #ffffff;
						}	
				}
			}
		}
		.footer_logo{
			text-align: center;
		}
	}
	.social{
		margin: 50px auto;
    text-align: center;
	   img{
			cursor: pointer;
			padding: 0px 10px;
			&:hover{
					transition: .3s;
					opacity: 0.5;
				}
	    }
	}
	.footer_bootom{
		margin: auto;
    text-align: center;
		span{
			color: #5c5c5c;
	    font-size: 11px;
	    text-transform: uppercase;
	    font-weight: 400;
		}
	}
}

@media screen and (max-width: 1125px){
	.navigation{
		.top_bar{
			.top_sp{
				padding: 0;
			}
		}
		.main_bar{
			.main_nav{
				ul{
					li{
						a{
							padding: 0 15px;
						}
					}
				}
			}
		}
	}
}

@media screen and (max-width: 1000px){
	footer{
		.footer_menu{
			.links{
				.footer_menu_links{
					a{
						padding: 15px 15px;
					}
				}
			}
		}
	}
		
}

@media screen and (max-width: 991px){
	
	.navigation{
		.header_burger{
			display: block;
		}
	}
	
	footer{
		.footer_menu{
			.links{
				.footer_menu_links{
					padding-top: 0px;
				}
			}
		}
	}
		
}


@media screen and (max-width: 900px){
	footer{
		.brand_logos{
			.brand{
				padding: 60px 0px;
			}
		}
	}
}


@media screen and (max-width: 574px){
	.blog{
		.blog_big{
			.span_blog{
				padding: 40px 10px;
			}
		}
	}
}

@media screen and (max-width: 474px){
	footer{
		.footer_menu{
			.links{
				line-height: 2.5;
			}
		}
	}
		
}


@media screen and (max-width: 425px){
	footer{
		.brand_logos{
			.brand{
				padding: 30px 0px;
			}
		}
	}

}
