*{
	font-family: 'Raleway', sans-serif;
}


.navigation{
		position: fixed;
    z-index: 3;
    width: 100%;
    top: 0;
    left: 0;
		.logo{
			position: absolute;
	    z-index: 2;
	    left: 40px;
			img{
				width: 100%;
				background-color: #ff6600;
			}
		}

	.header_burger{
		display: none;
	}

	.header_top{
		background-color: #101010;
		padding: 10px 0px;
		height: 44px;
		.header_menu_top_nav{
			padding: 0 55px 0 315px;
			width: 100%;
			.menu_item_top_span{
				font-size: 10px;
				color: #858585;
				text-transform: uppercase;
			}
			.header_menu_top_ul{
				padding: 0;
				margin: 0;
				float: right;
				li{
					display: inline-block;
					.menu_item_top{
						font-size: 12px;
						color: #858585;
				  	padding: 0px 6px 0px 6px;
						text-decoration: none;
						&:hover{
							transition: .3s;
							color: #dedede;
							border-bottom: 2px solid #dedede;
						}
					}
				}
			}
		}	
	}

	.header_bottom{
		background-color: #ffffff;
		padding-left: 300px;
		height: 69px;
			.header_menu_bottom_nav{
				margin: 22px 0px 22px 0px;
				.header_menu_bottom_ul{
					padding: 0;
					margin: 0;
					li{
						display: inline-block;
					.menu_item_bottom{
						font-size: 17px;
						font-weight: 700;
						text-decoration: none;
						color: #070707;
						padding: 0 15px;
						cursor: pointer;
						&:hover{
								transition: .3s;
								color: #ff6600;
								border-bottom: 3px solid #ff6600;
							}
						&:active{
							color: #070707;
						}		
					}
				}
				.menu_item_search{
					.search_box{
						position: absolute;
						top: 14px;
						right: 90px;
						background: #ff6600;
						border-radius: 40px;
						padding: 5px;
						height: 40px;
						&:hover >.search_txt{
							width: 120px;
							padding: 0;
						}
						&:hover >.search_btn{
							background: #fff;
							color: #ff6600;
						}
						.search_txt{
							border: none;
							background: none;
							outline: none;
							padding: 0;
							color: #fff;
							font-size: 15px;
							transition: 0.4s;
							line-height: 30px;
							width: 0px;
							transition: 0.4s;
						}
						.search_btn{
							float: right;
							height: 30px;
							width: 30px;
							border-radius: 50%;
							display: flex;
							justify-content: center;
							align-items: center;
							text-decoration: none;
							color: #4c4c4c;
							cursor: pointer;
							&:active{
									color: #ff6600;
								}			
						}
					}		
					.basket_btn{
						position: absolute;
					  height: 39px;
					  width: 39px;
					  top: 14px;
					  right: 40px;
					  display: flex;
					  justify-content: center;
					  align-items: center;
					  border-radius: 50%;
					  background: #ff6600;
					  text-decoration: none;
						color: #4c4c4c;
						cursor: pointer;
						&:hover{
								transition: .3s;
								color: #fff;
							}
						&:active{
								color: #070707;
							}			
					}
				}
			}
		}
	}
	
}

.head_slider{
	.head_slider_sl{
		padding-right: 0px;
		padding-left: 0px;
		.sl_slide{
			position: relative;
			margin-bottom: 0px;
				.img_bg{
				    width: 100%;
					}
			.carousel-caption {
				left: 5%;
				right: 5%;
			  top: 16%;
			  padding: 0;
			  margin-top: 30px;
			  img{
					margin: auto;
					&:hover{
						background-color: #ff6600;
						opacity: 0.5;
					}
			  }
			  h1{
			  	padding-top: 20px;
			  	font-size: 80px;
					font-weight: 700;
					margin: 0;
			  }
			  p{
			  	font-size: 20px;
			  	padding: 10px 0 35px 0;
			  	margin: 0;
			  }
			  .btn_slider{
			  	padding: 15px 30px;
			  	font-size: 12px;
			  	font-weight: 700;
			  	color: #ff6600;
			  	border: solid 2px #fff;
			  	background: transparent;
			  	outline: none;
			  	cursor: pointer;
			  	&:active{
			  		background: #000;
			  		opacity: 0.7;
			  		color: #fff;
			  	}
			  }
			}
			.slick-arrow{
				position: absolute;
				z-index: 1;
			}
			.slick-prev{
				left: 10px;
				border-bottom: 4px solid #ff6600 ;
				height: 5px;
				width: 50px;
			}
			.slick-next{
				right: 10px;
				border-bottom: 4px solid #ff6600 ;
				height: 5px;
				width: 50px;
			}
			.slick-prev::before,.slick-next::before{
				content: '';
			}
			.slick-dots{
				bottom: 80px;
				li{
					button{
						border: 1px solid #000;
						border-radius: 50%;
						-webkit-webkit-transition: border-color .3s ;
						-o-webkit-transition: border-color .3s ;
						transition: border-color .3s;
						&:before{
							content: '';
							width: 8px;
							height: 8px;
							background: #000;
							opacity: 0.8;
							border-radius: 50%;
							top: 50%;
							left: 50%;
							margin: -4px 0 0 -4px;
							-webkit-webkit-transition: background .3s ;
							-o-webkit-transition: background .3s ;
							transition: background .3s;
						}
					}
				}
				.slick-active{
						button{
							&:hover{
								border-color: #ff6600;
							}
							&:before{
							background: #ff6600;
						}
					}
				}
			}
		}
	}
}

main{
	background-color: #f4f4f4;
	padding-bottom: 75px;

	.column_promo{
		position: relative;
		top:-40px;
		.column_promo_1,.column_promo_2{
			padding-right: 0px;
			padding-left: 0px;
			background-color: #ff6600;
			.column_promo_1_head{
				position: absolute;
				border-right: solid 5px #ffffff;
				border-bottom: solid 5px #ffffff;
				margin-left: 40px;
    		margin-top: 50px;
    		&:before{
    			content: "";
    			position: absolute;
					left: 30%;
					width: 71%;
					border-top: 5px solid #ffffff;
    		}
    		&:after{
    			content: "";
			   	position: absolute;
			    top: 60%;
			    height: 40%;
			    border-left: 5px solid #ffffff;
    		}
				p{
					padding-right: 210px;
   				padding-bottom: 100px;
					font-size: 50px;
					font-weight: 700;
					color: #ffffff;
					line-height: 1;
				}
			}
			.column_promo_1_img{
				img{
					float: right;
					margin: 20px auto;
				}
			}
			nav{
				position: absolute;
				margin: 330px 0px 0px 40px;
				a{
					font-size: 12px;
					font-weight: 400;
					text-transform: uppercase;
					text-decoration: none;
					color: #ffffff;
					padding-right: 20px;
					&:hover{
							transition: .9s;
							color: #070707;
						}
					&:active{
							color: #ffffff;
						}	
				}
			}
		}
		.column_promo_2{
			padding-right: 0px;
			padding-left: 0px;
			background-color: #d4d4d4;
			.column_promo_1_head{
				p{
					padding-right: 240px;
				}
				&:before{
					left: 50%;
					width: 51%;
    		}
			}
			.column_promo_2_img{
				img{
					margin: 90px 0 15px 0;
					float: right;
				}
			}
		}
	}

	.blog{
		.head_blog{
			margin: 40px auto;
			text-align: center;
			h1{
				font-size: 48px;
				font-weight:700;
				color: #1f1f1f;
			}
			span{
				font-size: 20px;
				font-weight:400;
				color: #8f8f8f;
			}
		}

		.img_blog{
			padding-left: 0px;
			padding-right: 0px;
			img{
				width: 100%;
			}
		}
		.blog_big{
			.span_blog{
				background-color: #fff;
				position: relative;
				text-align: center;
				.text{
					position: absolute;
					top: 40%;
					margin: auto 25px auto 10px;
					a{
						text-decoration: none;
						span{
							font-size: 15px;
							font-weight: 700;
							color: #070707;
							&:hover{
								transition: .3s;
								color: #ff6600;
							}
							&:active{
								color: #8f8f8f;
							}		
						}
					}
				}
			}
			.img_blog{
				img{
					opacity: 0.5;
						&:hover{
							transition: .5s;
							opacity: 1;
						}
				}
			}
		}
		
		.btn_blog{
			margin: 75px auto 0px auto;
			text-align: center;
			.btn_slider{
				padding: 15px 30px;
				font-size: 12px;
				font-weight: 700;
				color: #ff6600;
				border: solid 2px #e1e1e1;
				background: transparent;
				outline: none;
				cursor: pointer;
				&:active{
					background: #000;
					opacity: 0.5;
					color: #ff6600;
				}
			}	
		}

	}

}

footer{
	.brand_logos{
		background-color: #e1e1e1;
		.brand{
			padding: 40px 0px;
			text-align: center;
			img{
				opacity: 0.5;
					&:hover{
						transition: .5s;
						opacity: 1;
					}
			}
		}
	}
	
	.footer_menu{
		background-color: #161616;
		padding: 20px 0px;
		.links{
			padding-left: 0px;
			padding-right: 0px;
			text-align: center;
			.footer_menu_links{
				padding-top: 50px;
				a{
					font-size: 17px;
					font-weight: 700;
					text-decoration: none;
					color: #858585;
					cursor: pointer;
					padding: 15px 5px;
					&:hover{
						transition: .3s;
						border-bottom: 2px solid #ff6600;
					}
					&:active{
							color: #fff;
						}	
				}
			}
		}
		.footer_logo{
    	padding: 0;
			text-align: center;
			img{
				background-color: #ff6600;
					&:hover{
						transition: .5s;
						opacity: 0.5;
					}
			}
		}
	}
	.social{
		margin: 30px auto;
    text-align: center;
	 	i{
			cursor: pointer;
			padding: 0px 15px;
			font-size: 25px;
			color: #5c5c5c;
			&:hover{
				color: #ff6600;
				transition: .3s;
				opacity: 0.5;
			}
	   }	  
	}
	.footer_bootom{
		margin: auto;
    text-align: center;
		span{
			color: #5c5c5c;
	    font-size: 11px;
	    text-transform: uppercase;
	    font-weight: 400;
		}
	}
}



@media screen and (max-width: 1199px){
	main{
		.column_promo{
			.column_promo_1,.column_promo_2{
				.column_promo_1_head{
					margin-top: 56px;
					p{
						padding-right: 150px;
    				padding-bottom: 110px;
    				font-size: 44px;
					}
				}
			}
			.column_promo_2{
				.column_promo_1_head{
					p{
						padding-right: 180px;
					}
				}
			}
		}
	}
}


@media screen and (max-width: 1125px){
	.navigation{
		.main_bar{
			.main_nav{
				ul{
					li{
						a{
							padding: 0 15px;
						}
					}
				}
			}
		}
	}
	.head_slider{
		.head_slider_sl{
			.sl_slide{
				.carousel-caption{
					margin-top: 35px;
					h1{
						font-size: 68px;
					}
					p{
						font-size: 18px;
						padding-bottom: 20px;
					}
				}
			}
		}
	}
}

@media screen and (max-width: 1000px){
	.head_slider{
		.head_slider_sl{
			.sl_slide{
				.carousel-caption{
					h1{
						font-size: 60px;
					}
					p{
						font-size: 14px;
					}
					.btn_slider{
						padding: 10px 20px;
					}
				}
			}
		}
	}

	footer{
		.footer_menu{
			.links{
				.footer_menu_links{
					a{
						padding: 15px 15px;
					}
				}
			}
		}
	}
		
}

@media screen and (max-width: 991px){
	
	body{
		.lock{
			overflow: hidden;
		}
	}
	.navigation{
	
		.header_burger{
			display: block;
			position: absolute;
			width: 30px;
			height: 20px;
			left: 90%;
			top: 55%;
			float: right;
			z-index: 3;
			cursor: pointer;
			&:before,&:after{
				content:'';
				background-color:#ff6600;
				position: absolute;
				width: 100%;
				height: 2px;
				left: 0;
				transition: all 0.4s ease 0s;
			}
			span{
				background-color: #ff6600;
				position: absolute;
				width: 100%;
				height: 2px;
				left: 0;
				top: 9px;
				transition: all 0.4s ease 0s;
			}
		}
		.header_burger:before{
			top: 0;
		}
		.header_burger:after{
			bottom: 0;
		}

		.active:before{
			 transform: rotate(45deg);
			 top: 9px;
		}	
		.active:after{
			 transform: rotate(-45deg);
			 bottom: 9px;
		}
		.active{
			span{
				transform: scale(0);
			}
		}

		.header_top{
			.header_menu_top_nav{
				background: #ff6600;
				padding: 0;
				position: absolute;
				width: 50%;
				height: 300px;
				top: 112px;
				right: 0;
				text-align: center;
				padding-top: 10px;
				right: -100%;
				transition: all 0.8s ease;
				.menu_item_top_span{
					font-size: 13px;
					color: #fff;
				}
				.header_menu_top_ul{
					float: none;
					li{
						display: block;
						margin: 10px 0;
						.menu_item_top{
							color: #fff;
								&:hover{
								transition: .3s;
								color: #070707;
								border-bottom: 2px solid #070707;
							}
						}
					}
				}
			}
			.active{
					right: 0;
				}
		}

		.header_bottom{
			.header_menu_bottom_nav{
				background: #d4d4d4;
				padding: 0;
				position: absolute;
				width: 50%;
				height: 300px;
				top: 69px;
				left: 0;
				text-align: center;
				padding-top: 60px;
				margin: 0;
				left: -100%;
				transition: all 0.8s ease;
				.header_menu_bottom_ul{
					li{
						display: block;
						margin: 10px 0;
						.menu_item_bottom{
							color: #fff;
								&:hover{
								transition: .3s;
								color: #070707;
								border-bottom: 2px solid #070707;
							}
						}
					}
					.menu_item_search{
						.search_box{
							right: 52%;
						}
						.basket_btn{
							right: 39%;
							top: 16px;
						}
					}
				}
			}
			.active{
					left: 0;
				}
		}

	}

	main{
		.column_promo{
			.column_promo_1,.column_promo_2{
				.column_promo_1_head{
					margin-top: 35px;
					p{
    				font-size: 30px;
    				padding: 0 110px 75px 0;
					}
				}
				.column_promo_1_img{
					img{
						margin: 7px auto;
						width: 50%;
					}
				}
				nav{
					margin-top: 225px;
				}
			}
			.column_promo_2{
				.column_promo_1_head{
					p{
						padding-right: 130px;
					}
				}
				.column_promo_2_img{
					img{
						width: 70%;
   				 	margin-top: 85px;
					}
				}
			}
		}
	}

	
	footer{
		.brand_logos{
			.brand{
				&:nth-child(1){
					padding-bottom: 0;
				}
				&:nth-child(2){
					padding-bottom: 0;
				}
				&:nth-child(3){
					padding-bottom: 0;
				}
			}
		}
		.footer_menu{
			.links{
				.footer_menu_links{
					padding-top: 0px;
				}
			}
			.footer_logo{
				margin: 15px 0;
			}
		}
	}
		
}


@media screen and (max-width: 767px){
	main{
		padding-bottom: 45px;
		.column_promo{
			top: 0;
			.column_promo_1,.column_promo_2{
				.column_promo_1_head{
					p{
    				font-size: 44px;
    				padding-right: 180px;
					}
				}
				.column_promo_1_img{
					img{
						width: 42%;
					}
				}
				nav{
					margin-top: 275px;
				}
			}
			.column_promo_2{
				.column_promo_1_head{
					p{
						padding-right: 208px;
					}
				}
				.column_promo_2_img{
					img{
						margin-top: 75px;
						width: 65%;
					}
				}
			}
		}
		.blog{
			.btn_blog{
				margin-top: 45px;
			}
		}
	}		
}


@media screen and (max-width: 575px){
	main{
		.column_promo{
			.column_promo_1,.column_promo_2{
				.column_promo_1_head{
					p{
						padding-right: 230px;
						padding-bottom: 70px;
					}
				}
				.column_promo_1_img{
					img{
						width: 39%;
					}
				}
				nav{
					margin-top: 270px;
				}
			}
			.column_promo_2{
				.column_promo_1_head{
					p{
						padding-right: 255px;
					}
				}
				.column_promo_2_img{
					img{
						margin-top: 58px;
					}
				}
			}
		}

		.blog{
			.img_blog{
				order: 0;
			}
			.blog_big{
				order: 1;
				.span_blog{
					position: inherit;
					height: 90px;
					&:nth-child(2){
						order: 2;
					}
					.text{
						position: inherit;
						top: 0;
						margin: 0;
						padding: 25px 0;
					}
				}
				.img_blog{
					&:nth-child(2){
						order: 3;
					}
				}
			}
		}

	}
	footer{
		.brand_logos{
			.brand{
				&:nth-child(4){
					padding-bottom: 0;
				}
			}
		}
	}
}



@media screen and (max-width: 549px){
	main{
		.column_promo{
			.column_promo_1,.column_promo_2{
				.column_promo_1_head{
					p{
						font-size: 40px;
					}
				}
				nav{
					margin-top: 255px;
				}
			}
			.column_promo_2{
				.column_promo_2_img{
					img{
						margin-top: 52px;
					}
				}
			}
		}
	}			
}


@media screen and (max-width: 515px){
	main{
		.column_promo{
			.column_promo_1,.column_promo_2{
				.column_promo_1_head{
					p{
						font-size: 35px;
					}
				}
				nav{
					margin-top: 238px;
				}
			}
			.column_promo_2{
				.column_promo_2_img{
					img{
						margin-top: 50px;
					}
				}
			}
		}
	}			
}


@media screen and (max-width: 485px){
	main{
		.column_promo{
			.column_promo_1,.column_promo_2{
				.column_promo_1_head{
					p{
						padding-bottom: 55px;
						padding-right: 200px;
					}
				}
				nav{
					margin-top: 222px;
				}
			}
			.column_promo_2{
				.column_promo_1_head{
					p{
						padding-right: 220px;
					}
				}
				.column_promo_2_img{
					img{
						margin-top: 45px;
					}
				}
			}
		}
	}			
}


@media screen and (max-width: 460px){
	main{
		.column_promo{
			.column_promo_1,.column_promo_2{
				.column_promo_1_head{
					margin-top: 30px;
					p{
						font-size: 30px;
						padding-right: 180px;
					}
				}
				nav{
					margin-top: 205px;
				}
			}
			.column_promo_2{
				.column_promo_1_head{
					p{
						padding-right: 200px;
					}
				}
				.column_promo_2_img{
					img{
						margin-top: 45px;
					}
				}
			}
		}
	}			
}


@media screen and (max-width: 474px){
	footer{
		.footer_menu{
			.links{
				line-height: 2.5;
			}
		}
	}
		
}


@media screen and (max-width: 425px){

	main{
		.column_promo{
			.column_promo_1,.column_promo_2{
				.column_promo_1_head{
					p{
						font-size: 26px;
					}
				}
				nav{
					margin-top: 190px;
				}
			}
			.column_promo_2{
				.column_promo_2_img{
					img{
						margin-top: 40px;
					}
				}
			}
		}

		.blog{
			.head_blog{
				margin: 30px 0;
				h1{
					font-size: 42px;
				}
				span{
					font-size: 18px;
				}
			}
		}

	}	

	footer{
		.brand_logos{
			.brand{
				padding: 30px 0px;
			}
		}
	}

}


@media screen and (max-width: 400px){

	main{
		.column_promo{
			.column_promo_1,.column_promo_2{
				.column_promo_1_head{
					p{
						font-size: 24px;
					}
				}
				nav{
					margin-top: 180px;
				}
			}
			.column_promo_2{
				.column_promo_2_img{
					img{
						margin-top: 35px;
					}
				}
			}
		}
	}

}	


@media screen and (max-width: 375px){

	main{
		.column_promo{
			.column_promo_1,.column_promo_2{
				.column_promo_1_head{
					p{
						font-size: 22px;
						padding-right: 170px;
    				padding-bottom: 40px;
					}
				}
				.column_promo_1_img{
					img{
						width: 36%;
					}
				}
				nav{
					margin-top: 160px;
				}
			}
			.column_promo_2{
				.column_promo_2_img{
					img{
						width: 60%;
					}
				}
				.column_promo_1_head{
					p{
						padding-right: 180px;
					}
				}
			}
		}
	}

}	


@media screen and (max-width: 320px){

	main{
		.column_promo{
			.column_promo_1,.column_promo_2{
				.column_promo_1_head{
					margin-top: 18px;
					border-right: solid 3px #ffffff;
    			border-bottom: solid 3px #ffffff;
    				&:before{
							border-top: 3px solid #ffffff;
		    		}
		    		&:after{
					    border-left: 3px solid #ffffff;
		    		}
					p{
						font-size: 19px;
						padding-right: 140px;
    				padding-bottom: 45px;
					}
				}
				nav{
					margin-top: 140px;
				}
			}
			.column_promo_2{
				.column_promo_1_head{
					p{
						padding-right: 150px;
					}
				}
				.column_promo_2_img{
					img{
						margin-bottom: 10px;
					}
				}
			}
		}
	}

	.blog{
		.head_blog{
			h1{
				font-size: 38px;
			}
			span{
				font-size: 16px;
			}			
		}
	}	

}	