* {
  font-family: 'Raleway', sans-serif;
}

.navigation {
  position: fixed;
  z-index: 2;
  width: 100%;
}
.navigation .logo_l {
  padding: 0;
}
.navigation .logo_l .logo {
  position: absolute;
  z-index: 2;
  width: 190px;
  height: 136px;
  background-color: #ff6600;
}
.navigation .logo_l .logo img {
  width: 100%;
}
.navigation .top_bar {
  background-color: #101010;
  padding: 17px 0px 18px 25px;
}
.navigation .top_bar span {
  font-size: 10px;
  color: #858585;
  text-transform: uppercase;
}
.navigation .top_bar .top_bn {
  padding: 0;
}
.navigation .top_bar .top_bn nav {
  float: right;
}
.navigation .top_bar .top_bn nav a {
  font-size: 10px;
  color: #858585;
  padding: 0px 12px 0px 12px;
  text-transform: uppercase;
  text-decoration: none;
}
.navigation .top_bar .top_bn nav a:hover {
  -webkit-transition: .3s;
  transition: .3s;
  color: #dedede;
  border-bottom: 2px solid #dedede;
}
.navigation .main_bar {
  background-color: #ffffff;
}
.navigation .main_bar .main_nav {
  margin: 30px 0px 22px 0px;
}
.navigation .main_bar .main_nav a {
  font-size: 17px;
  font-weight: 700;
  text-decoration: none;
  color: #070707;
  padding: 32px 25px 10px 25px;
  cursor: pointer;
}
.navigation .main_bar .main_nav a:hover {
  -webkit-transition: .3s;
  transition: .3s;
  color: #ff6600;
  border-bottom: 3px solid #ff6600;
}
.navigation .main_bar .main_nav a:active {
  color: #070707;
}
.navigation .main_bar .main_search {
  margin-top: 24px;
}
.navigation .main_bar .main_search .search_box {
  position: absolute;
  right: 15%;
  background: #ff6600;
  border-radius: 40px;
  padding: 5px;
  height: 40px;
}
.navigation .main_bar .main_search .search_box:hover > .search_txt {
  width: 150px;
  padding: 0;
}
.navigation .main_bar .main_search .search_box:hover > .search_btn {
  background: #fff;
  color: #ff6600;
}
.navigation .main_bar .main_search .search_box .search_txt {
  border: none;
  background: none;
  outline: none;
  padding: 0;
  color: #fff;
  font-size: 15px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  line-height: 30px;
  width: 0px;
  transition: 0.4s;
}
.navigation .main_bar .main_search .search_box .search_btn {
  float: right;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  color: #4c4c4c;
  cursor: pointer;
}
.navigation .main_bar .main_search .search_box .search_btn:active {
  color: #ff6600;
}
.navigation .main_bar .main_search .basket_btn {
  position: absolute;
  height: 39px;
  width: 39px;
  left: 87%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 1px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  background: #ff6600;
  text-decoration: none;
  color: #4c4c4c;
  cursor: pointer;
}
.navigation .main_bar .main_search .basket_btn:hover {
  -webkit-transition: .3s;
  transition: .3s;
  color: #fff;
}
.navigation .main_bar .main_search .basket_btn:active {
  color: #070707;
}

.head_slider .head_slider_sl {
  padding-right: 0px;
  padding-left: 0px;
}
.head_slider .head_slider_sl .sl_slide {
  position: relative;
  margin-bottom: 0px;
}
.head_slider .head_slider_sl .sl_slide .img_bg {
  width: 100%;
}
.head_slider .head_slider_sl .sl_slide .carousel-caption {
  left: 5%;
  right: 5%;
  top: 16%;
  padding: 0;
  margin-top: 30px;
}
.head_slider .head_slider_sl .sl_slide .carousel-caption img {
  margin: auto;
}
.head_slider .head_slider_sl .sl_slide .carousel-caption img:hover {
  background-color: #ff6600;
  opacity: 0.5;
}
.head_slider .head_slider_sl .sl_slide .carousel-caption h1 {
  padding-top: 100px;
  font-size: 80px;
  font-weight: 700;
}
.head_slider .head_slider_sl .sl_slide .carousel-caption p {
  font-size: 20px;
  padding-bottom: 50px;
}
.head_slider .head_slider_sl .sl_slide .carousel-caption .btn_slider {
  padding: 15px 30px;
  font-size: 12px;
  font-weight: 700;
  color: #ff6600;
  border: solid 2px #fff;
  background: transparent;
  outline: none;
  cursor: pointer;
}
.head_slider .head_slider_sl .sl_slide .carousel-caption .btn_slider:active {
  background: #000;
  opacity: 0.7;
  color: #fff;
}
.head_slider .head_slider_sl .sl_slide .slick-arrow {
  position: absolute;
  z-index: 1;
}
.head_slider .head_slider_sl .sl_slide .slick-prev {
  left: 3px;
  border-bottom: 4px solid #ff6600;
  height: 5px;
  width: 50px;
}
.head_slider .head_slider_sl .sl_slide .slick-next {
  right: 3px;
  border-bottom: 4px solid #ff6600;
  height: 5px;
  width: 50px;
}
.head_slider .head_slider_sl .sl_slide .slick-prev::before, .head_slider .head_slider_sl .sl_slide .slick-next::before {
  content: '';
}
.head_slider .head_slider_sl .sl_slide .slick-dots {
  bottom: 80px;
}
.head_slider .head_slider_sl .sl_slide .slick-dots li button {
  border: 1px solid #000;
  border-radius: 50%;
  -webkit-webkit-transition: border-color 0.3s;
  -o-webkit-transition: border-color 0.3s;
  -webkit-transition: border-color .3s;
  transition: border-color .3s;
}
.head_slider .head_slider_sl .sl_slide .slick-dots li button:before {
  content: '';
  width: 8px;
  height: 8px;
  background: #000;
  opacity: 0.8;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  margin: -4px 0 0 -4px;
  -webkit-webkit-transition: background 0.3s;
  -o-webkit-transition: background 0.3s;
  -webkit-transition: background .3s;
  transition: background .3s;
}
.head_slider .head_slider_sl .sl_slide .slick-dots .slick-active button:hover {
  border-color: #ff6600;
}
.head_slider .head_slider_sl .sl_slide .slick-dots .slick-active button:before {
  background: #ff6600;
}

main {
  background-color: #f4f4f4;
  padding-bottom: 75px;
}
main .column_promo {
  position: relative;
  top: -40px;
}
main .column_promo .column_promo_1, main .column_promo .column_promo_2 {
  padding-right: 0px;
  padding-left: 0px;
  background-color: #ff6600;
}
main .column_promo .column_promo_1 .column_promo_1_head, main .column_promo .column_promo_2 .column_promo_1_head {
  position: absolute;
  border-right: solid 5px #ffffff;
  border-bottom: solid 5px #ffffff;
  margin-left: 40px;
  margin-top: 50px;
}
main .column_promo .column_promo_1 .column_promo_1_head:before, main .column_promo .column_promo_2 .column_promo_1_head:before {
  content: "";
  position: absolute;
  top: -2px;
  left: 30%;
  width: 71%;
  border-top: 5px solid #ffffff;
}
main .column_promo .column_promo_1 .column_promo_1_head:after, main .column_promo .column_promo_2 .column_promo_1_head:after {
  content: "";
  position: absolute;
  top: 60%;
  height: 40%;
  border-left: 5px solid #ffffff;
}
main .column_promo .column_promo_1 .column_promo_1_head p, main .column_promo .column_promo_2 .column_promo_1_head p {
  padding-right: 210px;
  padding-bottom: 100px;
  font-size: 50px;
  font-weight: 700;
  color: #ffffff;
  line-height: 1;
}
main .column_promo .column_promo_1 img, main .column_promo .column_promo_2 img {
  float: right;
  padding: 32px 0px 35px 0px;
}
main .column_promo .column_promo_1 nav, main .column_promo .column_promo_2 nav {
  margin: 350px 0px 0px 40px;
}
main .column_promo .column_promo_1 nav a, main .column_promo .column_promo_2 nav a {
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  padding-right: 20px;
}
main .column_promo .column_promo_1 nav a:hover, main .column_promo .column_promo_2 nav a:hover {
  -webkit-transition: .9s;
  transition: .9s;
  color: #070707;
}
main .column_promo .column_promo_1 nav a:active, main .column_promo .column_promo_2 nav a:active {
  color: #ffffff;
}
main .column_promo .column_promo_2 {
  padding-right: 0px;
  padding-left: 0px;
  background-color: #d4d4d4;
}
main .column_promo .column_promo_2 .column_promo_1_head:before {
  left: 50%;
  width: 51%;
}
main .column_promo .column_promo_2 img {
  padding: 110px 0px 40px 0px;
}
main .blog .head_blog {
  margin: 40px auto;
  text-align: center;
}
main .blog .head_blog h1 {
  font-size: 48px;
  font-weight: 700;
  color: #1f1f1f;
}
main .blog .head_blog span {
  font-size: 20px;
  font-weight: 400;
  color: #8f8f8f;
}
main .blog .blog_big img:hover {
  -webkit-transition: .6s;
  transition: .6s;
  opacity: 0.5;
  cursor: pointer;
}
main .blog .img_blog {
  padding-left: 0px;
  padding-right: 0px;
}
main .blog .img_blog img {
  width: 100%;
}
main .blog .span_blog {
  background-color: #fff;
  text-align: center;
  padding: 80px 10px;
}
main .blog .span_blog span {
  font-size: 15px;
  font-weight: 700;
  color: #000;
}
main .blog .btn_blog {
  margin: 75px auto 0px auto;
  text-align: center;
}
main .blog .btn_blog .btn_slider {
  padding: 15px 30px;
  font-size: 12px;
  font-weight: 700;
  color: #ff6600;
  border: solid 2px #e1e1e1;
  background: transparent;
  outline: none;
  cursor: pointer;
}
main .blog .btn_blog .btn_slider:active {
  background: #000;
  opacity: 0.5;
  color: #ff6600;
}

footer .brand_logos {
  background-color: #e1e1e1;
}
footer .brand_logos .brand {
  padding: 90px 0px;
  text-align: center;
}
footer .brand_logos .brand img {
  opacity: 0.5;
}
footer .brand_logos .brand img:hover {
  -webkit-transition: .5s;
  transition: .5s;
  opacity: 1;
}
footer .footer_menu {
  background-color: #161616;
  padding: 50px 0px 40px 0px;
}
footer .footer_menu .links {
  padding-left: 0px;
  padding-right: 0px;
  text-align: center;
}
footer .footer_menu .links .footer_menu_links {
  padding-top: 50px;
}
footer .footer_menu .links .footer_menu_links a {
  font-size: 17px;
  font-weight: 700;
  text-decoration: none;
  color: #7b7b7b;
  cursor: pointer;
  padding: 15px 5px;
}
footer .footer_menu .links .footer_menu_links a:hover {
  -webkit-transition: .3s;
  transition: .3s;
  border-bottom: 2px solid #ff6600;
}
footer .footer_menu .links .footer_menu_links a:active {
  color: #ffffff;
}
footer .footer_menu .footer_logo {
  text-align: center;
}
footer .social {
  margin: 50px auto;
  text-align: center;
}
footer .social img {
  cursor: pointer;
  padding: 0px 10px;
}
footer .social img:hover {
  -webkit-transition: .3s;
  transition: .3s;
  opacity: 0.5;
}
footer .footer_bootom {
  margin: auto;
  text-align: center;
}
footer .footer_bootom span {
  color: #5c5c5c;
  font-size: 11px;
  text-transform: uppercase;
  font-weight: 400;
}

@media screen and (max-width: 1000px) {
  footer .footer_menu .links .footer_menu_links a {
    padding: 15px 15px;
  }
}
@media screen and (max-width: 991px) {
  footer .footer_menu .links .footer_menu_links {
    padding-top: 0px;
  }
}
@media screen and (max-width: 900px) {
  footer .brand_logos .brand {
    padding: 60px 0px;
  }
}
@media screen and (max-width: 574px) {
  .blog .blog_big .span_blog {
    padding: 40px 10px;
  }
}
@media screen and (max-width: 474px) {
  footer .footer_menu .links {
    line-height: 2.5;
  }
}
@media screen and (max-width: 425px) {
  footer .brand_logos .brand {
    padding: 30px 0px;
  }
}
