* {
  font-family: 'Raleway', sans-serif;
}

.navigation {
  position: fixed;
  z-index: 3;
  width: 100%;
  top: 0;
  left: 0;
}
.navigation .logo {
  position: absolute;
  z-index: 2;
  left: 40px;
}
.navigation .logo img {
  width: 100%;
  background-color: #ff6600;
}
.navigation .header_burger {
  display: none;
}
.navigation .header_top {
  background-color: #101010;
  padding: 10px 0px;
  height: 44px;
}
.navigation .header_top .header_menu_top_nav {
  padding: 0 55px 0 315px;
  width: 100%;
}
.navigation .header_top .header_menu_top_nav .menu_item_top_span {
  font-size: 10px;
  color: #858585;
  text-transform: uppercase;
}
.navigation .header_top .header_menu_top_nav .header_menu_top_ul {
  padding: 0;
  margin: 0;
  float: right;
}
.navigation .header_top .header_menu_top_nav .header_menu_top_ul li {
  display: inline-block;
}
.navigation .header_top .header_menu_top_nav .header_menu_top_ul li .menu_item_top {
  font-size: 12px;
  color: #858585;
  padding: 0px 6px 0px 6px;
  text-decoration: none;
}
.navigation .header_top .header_menu_top_nav .header_menu_top_ul li .menu_item_top:hover {
  -webkit-transition: .3s;
  transition: .3s;
  color: #dedede;
  border-bottom: 2px solid #dedede;
}
.navigation .header_bottom {
  background-color: #ffffff;
  padding-left: 300px;
  height: 69px;
}
.navigation .header_bottom .header_menu_bottom_nav {
  margin: 22px 0px 22px 0px;
}
.navigation .header_bottom .header_menu_bottom_nav .header_menu_bottom_ul {
  padding: 0;
  margin: 0;
}
.navigation .header_bottom .header_menu_bottom_nav .header_menu_bottom_ul li {
  display: inline-block;
}
.navigation .header_bottom .header_menu_bottom_nav .header_menu_bottom_ul li .menu_item_bottom {
  font-size: 17px;
  font-weight: 700;
  text-decoration: none;
  color: #070707;
  padding: 0 15px;
  cursor: pointer;
}
.navigation .header_bottom .header_menu_bottom_nav .header_menu_bottom_ul li .menu_item_bottom:hover {
  -webkit-transition: .3s;
  transition: .3s;
  color: #ff6600;
  border-bottom: 3px solid #ff6600;
}
.navigation .header_bottom .header_menu_bottom_nav .header_menu_bottom_ul li .menu_item_bottom:active {
  color: #070707;
}
.navigation .header_bottom .header_menu_bottom_nav .header_menu_bottom_ul .menu_item_search .search_box {
  position: absolute;
  top: 14px;
  right: 90px;
  background: #ff6600;
  border-radius: 40px;
  padding: 5px;
  height: 40px;
}
.navigation .header_bottom .header_menu_bottom_nav .header_menu_bottom_ul .menu_item_search .search_box:hover > .search_txt {
  width: 120px;
  padding: 0;
}
.navigation .header_bottom .header_menu_bottom_nav .header_menu_bottom_ul .menu_item_search .search_box:hover > .search_btn {
  background: #fff;
  color: #ff6600;
}
.navigation .header_bottom .header_menu_bottom_nav .header_menu_bottom_ul .menu_item_search .search_box .search_txt {
  border: none;
  background: none;
  outline: none;
  padding: 0;
  color: #fff;
  font-size: 15px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  line-height: 30px;
  width: 0px;
  transition: 0.4s;
}
.navigation .header_bottom .header_menu_bottom_nav .header_menu_bottom_ul .menu_item_search .search_box .search_btn {
  float: right;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  color: #4c4c4c;
  cursor: pointer;
}
.navigation .header_bottom .header_menu_bottom_nav .header_menu_bottom_ul .menu_item_search .search_box .search_btn:active {
  color: #ff6600;
}
.navigation .header_bottom .header_menu_bottom_nav .header_menu_bottom_ul .menu_item_search .basket_btn {
  position: absolute;
  height: 39px;
  width: 39px;
  top: 14px;
  right: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  background: #ff6600;
  text-decoration: none;
  color: #4c4c4c;
  cursor: pointer;
}
.navigation .header_bottom .header_menu_bottom_nav .header_menu_bottom_ul .menu_item_search .basket_btn:hover {
  -webkit-transition: .3s;
  transition: .3s;
  color: #fff;
}
.navigation .header_bottom .header_menu_bottom_nav .header_menu_bottom_ul .menu_item_search .basket_btn:active {
  color: #070707;
}

.head_slider .head_slider_sl {
  padding-top: 112px;
  padding-right: 0px;
  padding-left: 0px;
}
.head_slider .head_slider_sl .sl_slide {
  position: relative;
  margin-bottom: 0px;
}
.head_slider .head_slider_sl .sl_slide .img_bg {
  width: 100%;
}
.head_slider .head_slider_sl .sl_slide .carousel-caption {
  left: 5%;
  right: 5%;
  top: 10%;
  padding: 0;
}
.head_slider .head_slider_sl .sl_slide .carousel-caption img {
  margin: auto;
}
.head_slider .head_slider_sl .sl_slide .carousel-caption img:hover {
  background-color: #ff6600;
  opacity: 0.5;
}
.head_slider .head_slider_sl .sl_slide .carousel-caption h1 {
  padding-top: 70px;
  font-size: 80px;
  font-weight: 700;
  margin: 0;
}
.head_slider .head_slider_sl .sl_slide .carousel-caption p {
  font-size: 20px;
  padding: 10px 0 35px 0;
  margin: 0;
}
.head_slider .head_slider_sl .sl_slide .carousel-caption .btn_slider {
  margin-top: 70px;
  padding: 15px 30px;
  font-size: 12px;
  font-weight: 700;
  color: #ff6600;
  border: solid 2px #fff;
  background: transparent;
  outline: none;
  cursor: pointer;
}
.head_slider .head_slider_sl .sl_slide .carousel-caption .btn_slider:active {
  background: #000;
  opacity: 0.7;
  color: #fff;
}
.head_slider .head_slider_sl .sl_slide .slick-arrow {
  position: absolute;
  z-index: 1;
}
.head_slider .head_slider_sl .sl_slide .slick-prev {
  left: 10px;
  border-bottom: 4px solid #ff6600;
  height: 5px;
  width: 50px;
}
.head_slider .head_slider_sl .sl_slide .slick-next {
  right: 10px;
  border-bottom: 4px solid #ff6600;
  height: 5px;
  width: 50px;
}
.head_slider .head_slider_sl .sl_slide .slick-prev::before, .head_slider .head_slider_sl .sl_slide .slick-next::before {
  content: '';
}
.head_slider .head_slider_sl .sl_slide .slick-dots {
  bottom: 11%;
}
.head_slider .head_slider_sl .sl_slide .slick-dots li button {
  border: 1px solid #000;
  border-radius: 50%;
  -webkit-webkit-transition: border-color 0.3s;
  -o-webkit-transition: border-color 0.3s;
  -webkit-transition: border-color .3s;
  transition: border-color .3s;
}
.head_slider .head_slider_sl .sl_slide .slick-dots li button:before {
  content: '';
  width: 8px;
  height: 8px;
  background: #000;
  opacity: 0.8;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  margin: -4px 0 0 -4px;
  -webkit-webkit-transition: background 0.3s;
  -o-webkit-transition: background 0.3s;
  -webkit-transition: background .3s;
  transition: background .3s;
}
.head_slider .head_slider_sl .sl_slide .slick-dots .slick-active button:hover {
  border-color: #ff6600;
}
.head_slider .head_slider_sl .sl_slide .slick-dots .slick-active button:before {
  background: #ff6600;
}

main {
  background-color: #f4f4f4;
  padding-bottom: 75px;
}
main .column_promo {
  position: relative;
  top: -40px;
}
main .column_promo .column_promo_1, main .column_promo .column_promo_2 {
  padding-right: 0px;
  padding-left: 0px;
  background-color: #ff6600;
}
main .column_promo .column_promo_1 .column_promo_1_head, main .column_promo .column_promo_2 .column_promo_1_head {
  position: absolute;
  border-right: solid 5px #ffffff;
  border-bottom: solid 5px #ffffff;
  margin-left: 40px;
  margin-top: 50px;
}
main .column_promo .column_promo_1 .column_promo_1_head:before, main .column_promo .column_promo_2 .column_promo_1_head:before {
  content: "";
  position: absolute;
  left: 30%;
  width: 71%;
  border-top: 5px solid #ffffff;
}
main .column_promo .column_promo_1 .column_promo_1_head:after, main .column_promo .column_promo_2 .column_promo_1_head:after {
  content: "";
  position: absolute;
  top: 60%;
  height: 40%;
  border-left: 5px solid #ffffff;
}
main .column_promo .column_promo_1 .column_promo_1_head p, main .column_promo .column_promo_2 .column_promo_1_head p {
  padding-right: 210px;
  padding-bottom: 100px;
  font-size: 50px;
  font-weight: 700;
  color: #ffffff;
  line-height: 1;
}
main .column_promo .column_promo_1 .column_promo_1_img img, main .column_promo .column_promo_2 .column_promo_1_img img {
  float: right;
  margin: 20px auto;
}
main .column_promo .column_promo_1 nav, main .column_promo .column_promo_2 nav {
  position: absolute;
  margin: 330px 0px 0px 40px;
}
main .column_promo .column_promo_1 nav a, main .column_promo .column_promo_2 nav a {
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  padding-right: 20px;
}
main .column_promo .column_promo_1 nav a:hover, main .column_promo .column_promo_2 nav a:hover {
  -webkit-transition: .9s;
  transition: .9s;
  color: #070707;
}
main .column_promo .column_promo_1 nav a:active, main .column_promo .column_promo_2 nav a:active {
  color: #ffffff;
}
main .column_promo .column_promo_2 {
  padding-right: 0px;
  padding-left: 0px;
  background-color: #d4d4d4;
}
main .column_promo .column_promo_2 .column_promo_1_head p {
  padding-right: 240px;
}
main .column_promo .column_promo_2 .column_promo_1_head:before {
  left: 50%;
  width: 51%;
}
main .column_promo .column_promo_2 .column_promo_2_img img {
  margin: 90px 0 15px 0;
  float: right;
}
main .blog .head_blog {
  margin: 40px auto;
  text-align: center;
}
main .blog .head_blog h1 {
  font-size: 48px;
  font-weight: 700;
  color: #1f1f1f;
}
main .blog .head_blog span {
  font-size: 20px;
  font-weight: 400;
  color: #8f8f8f;
}
main .blog .img_blog {
  padding-left: 0px;
  padding-right: 0px;
}
main .blog .img_blog img {
  width: 100%;
}
main .blog .blog_big .span_blog {
  background-color: #fff;
  position: relative;
  text-align: center;
}
main .blog .blog_big .span_blog .text {
  position: absolute;
  top: 40%;
  margin: auto 25px auto 10px;
}
main .blog .blog_big .span_blog .text a {
  text-decoration: none;
}
main .blog .blog_big .span_blog .text a span {
  font-size: 15px;
  font-weight: 700;
  color: #070707;
}
main .blog .blog_big .span_blog .text a span:hover {
  -webkit-transition: .3s;
  transition: .3s;
  color: #ff6600;
}
main .blog .blog_big .span_blog .text a span:active {
  color: #8f8f8f;
}
main .blog .blog_big .img_blog img {
  opacity: 0.5;
}
main .blog .blog_big .img_blog img:hover {
  -webkit-transition: .5s;
  transition: .5s;
  opacity: 1;
}
main .blog .btn_blog {
  margin: 75px auto 0px auto;
  text-align: center;
}
main .blog .btn_blog .btn_slider {
  padding: 15px 30px;
  font-size: 12px;
  font-weight: 700;
  color: #ff6600;
  border: solid 2px #e1e1e1;
  background: transparent;
  outline: none;
  cursor: pointer;
}
main .blog .btn_blog .btn_slider:active {
  background: #000;
  opacity: 0.5;
  color: #ff6600;
}

footer .brand_logos {
  background-color: #e1e1e1;
}
footer .brand_logos .brand {
  padding: 40px 0px;
  text-align: center;
}
footer .brand_logos .brand img {
  opacity: 0.5;
}
footer .brand_logos .brand img:hover {
  -webkit-transition: .5s;
  transition: .5s;
  opacity: 1;
}
footer .footer_menu {
  background-color: #161616;
  padding: 20px 0px;
}
footer .footer_menu .links {
  padding-left: 0px;
  padding-right: 0px;
  text-align: center;
}
footer .footer_menu .links .footer_menu_links {
  padding-top: 50px;
}
footer .footer_menu .links .footer_menu_links a {
  font-size: 17px;
  font-weight: 700;
  text-decoration: none;
  color: #858585;
  cursor: pointer;
  padding: 15px 5px;
}
footer .footer_menu .links .footer_menu_links a:hover {
  -webkit-transition: .3s;
  transition: .3s;
  border-bottom: 2px solid #ff6600;
}
footer .footer_menu .links .footer_menu_links a:active {
  color: #fff;
}
footer .footer_menu .footer_logo {
  padding: 0;
  text-align: center;
}
footer .footer_menu .footer_logo img {
  background-color: #ff6600;
}
footer .footer_menu .footer_logo img:hover {
  -webkit-transition: .5s;
  transition: .5s;
  opacity: 0.5;
}
footer .social {
  margin: 30px auto;
  text-align: center;
}
footer .social i {
  cursor: pointer;
  padding: 0px 15px;
  font-size: 25px;
  color: #5c5c5c;
}
footer .social i:hover {
  color: #ff6600;
  -webkit-transition: .3s;
  transition: .3s;
  opacity: 0.5;
}
footer .footer_bootom {
  margin: auto;
  text-align: center;
}
footer .footer_bootom span {
  color: #5c5c5c;
  font-size: 11px;
  text-transform: uppercase;
  font-weight: 400;
}

@media screen and (max-width: 1199px) {
  .head_slider .head_slider_sl .sl_slide .carousel-caption h1 {
    padding-top: 50px;
  }
  .head_slider .head_slider_sl .sl_slide .carousel-caption .btn_slider {
    margin-top: 50px;
  }

  main .column_promo .column_promo_1 .column_promo_1_head, main .column_promo .column_promo_2 .column_promo_1_head {
    margin-top: 56px;
  }
  main .column_promo .column_promo_1 .column_promo_1_head p, main .column_promo .column_promo_2 .column_promo_1_head p {
    padding-right: 150px;
    padding-bottom: 110px;
    font-size: 44px;
  }
  main .column_promo .column_promo_2 .column_promo_1_head p {
    padding-right: 180px;
  }
}
@media screen and (max-width: 1125px) {
  .navigation .main_bar .main_nav ul li a {
    padding: 0 15px;
  }

  .head_slider .head_slider_sl .sl_slide .carousel-caption h1 {
    font-size: 68px;
  }
  .head_slider .head_slider_sl .sl_slide .carousel-caption p {
    font-size: 18px;
    padding-bottom: 20px;
  }
}
@media screen and (max-width: 1000px) {
  .head_slider .head_slider_sl .sl_slide .carousel-caption h1 {
    font-size: 60px;
  }
  .head_slider .head_slider_sl .sl_slide .carousel-caption p {
    font-size: 14px;
  }
  .head_slider .head_slider_sl .sl_slide .carousel-caption .btn_slider {
    padding: 10px 20px;
  }

  footer .footer_menu .links .footer_menu_links a {
    padding: 15px 15px;
  }
}
@media screen and (max-width: 991px) {
  .lock {
    overflow: hidden;
  }

  .navigation .header_burger {
    display: block;
    position: absolute;
    width: 30px;
    height: 20px;
    left: 85%;
    top: 55%;
    float: right;
    z-index: 3;
    cursor: pointer;
  }
  .navigation .header_burger:before, .navigation .header_burger:after {
    content: '';
    background-color: #ff6600;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    -webkit-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
  }
  .navigation .header_burger span {
    background-color: #ff6600;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    top: 9px;
    -webkit-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
  }
  .navigation .header_burger:before {
    top: 0;
  }
  .navigation .header_burger:after {
    bottom: 0;
  }
  .navigation .active:before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 9px;
  }
  .navigation .active:after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 9px;
  }
  .navigation .active span {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  .navigation .header_top .header_menu_top_nav {
    background: #ff6600;
    padding: 0;
    position: absolute;
    width: 50%;
    height: 350px;
    top: 113px;
    right: 0;
    text-align: center;
    padding-top: 10px;
    right: -100%;
    -webkit-transition: all 0.8s ease;
    transition: all 0.8s ease;
    overflow: auto;
  }
  .navigation .header_top .header_menu_top_nav .menu_item_top_span {
    font-size: 13px;
    color: #fff;
  }
  .navigation .header_top .header_menu_top_nav .header_menu_top_ul {
    float: none;
    padding-top: 20px;
  }
  .navigation .header_top .header_menu_top_nav .header_menu_top_ul li {
    display: block;
    margin: 10px 0;
  }
  .navigation .header_top .header_menu_top_nav .header_menu_top_ul li .menu_item_top {
    color: #fff;
  }
  .navigation .header_top .header_menu_top_nav .header_menu_top_ul li .menu_item_top:hover {
    -webkit-transition: .3s;
    transition: .3s;
    color: #070707;
    border-bottom: 2px solid #070707;
  }
  .navigation .header_top .active {
    right: 0;
  }
  .navigation .header_bottom .header_menu_bottom_nav {
    background: #d4d4d4;
    padding: 0;
    position: absolute;
    width: 50%;
    height: 350px;
    top: 69px;
    left: 0;
    text-align: center;
    margin: 0;
    left: -100%;
    -webkit-transition: all 0.8s ease;
    transition: all 0.8s ease;
    overflow: auto;
  }
  .navigation .header_bottom .header_menu_bottom_nav .header_menu_bottom_ul li {
    display: block;
    margin: 10px 0;
  }
  .navigation .header_bottom .header_menu_bottom_nav .header_menu_bottom_ul li .menu_item_bottom {
    color: #fff;
  }
  .navigation .header_bottom .header_menu_bottom_nav .header_menu_bottom_ul li .menu_item_bottom:hover {
    -webkit-transition: .3s;
    transition: .3s;
    color: #070707;
    border-bottom: 2px solid #070707;
  }
  .navigation .header_bottom .header_menu_bottom_nav .header_menu_bottom_ul .menu_item_search .search_box {
    position: initial;
    width: 80%;
    margin: 10px auto;
  }
  .navigation .header_bottom .header_menu_bottom_nav .header_menu_bottom_ul .menu_item_search .search_box:hover > .search_txt {
    width: 65%;
  }
  .navigation .header_bottom .header_menu_bottom_nav .header_menu_bottom_ul .menu_item_search .basket_btn {
    position: initial;
    margin: 10px auto;
  }
  .navigation .header_bottom .active {
    left: 0;
  }

  main .column_promo .column_promo_1 .column_promo_1_head, main .column_promo .column_promo_2 .column_promo_1_head {
    margin-top: 35px;
  }
  main .column_promo .column_promo_1 .column_promo_1_head p, main .column_promo .column_promo_2 .column_promo_1_head p {
    font-size: 30px;
    padding: 0 110px 75px 0;
  }
  main .column_promo .column_promo_1 .column_promo_1_img img, main .column_promo .column_promo_2 .column_promo_1_img img {
    margin: 7px auto;
    width: 50%;
  }
  main .column_promo .column_promo_1 nav, main .column_promo .column_promo_2 nav {
    margin-top: 225px;
  }
  main .column_promo .column_promo_2 .column_promo_1_head p {
    padding-right: 130px;
  }
  main .column_promo .column_promo_2 .column_promo_2_img img {
    width: 70%;
    margin-top: 85px;
  }

  footer .brand_logos .brand:nth-child(1) {
    padding-bottom: 0;
  }
  footer .brand_logos .brand:nth-child(2) {
    padding-bottom: 0;
  }
  footer .brand_logos .brand:nth-child(3) {
    padding-bottom: 0;
  }
  footer .footer_menu .links .footer_menu_links {
    padding-top: 0px;
  }
  footer .footer_menu .footer_logo {
    margin: 15px 0;
  }
}
@media screen and (max-width: 900px) {
  .head_slider .head_slider_sl .sl_slide .carousel-caption {
    top: 5%;
  }
  .head_slider .head_slider_sl .sl_slide .carousel-caption h1 {
    font-size: 46px;
  }
  .head_slider .head_slider_sl .sl_slide .carousel-caption p {
    font-size: 12px;
  }
  .head_slider .head_slider_sl .sl_slide .carousel-caption .btn_slider {
    margin-top: 20px;
    padding: 8px 15px;
    font-size: 10px;
  }
}
@media screen and (max-width: 767px) {
  .head_slider .head_slider_sl .sl_slide .carousel-caption h1 {
    font-size: 40px;
    padding-top: 20px;
  }
  .head_slider .head_slider_sl .sl_slide .carousel-caption p {
    font-size: 10px;
  }
  .head_slider .head_slider_sl .sl_slide .carousel-caption .btn_slider {
    margin-top: 30px;
    padding: 6px 12px;
    font-size: 10px;
  }
  .head_slider .head_slider_sl .sl_slide .slick-dots {
    bottom: 5%;
  }

  main {
    padding-bottom: 45px;
  }
  main .column_promo {
    top: 0;
  }
  main .column_promo .column_promo_1 .column_promo_1_head p, main .column_promo .column_promo_2 .column_promo_1_head p {
    font-size: 44px;
    padding-right: 180px;
  }
  main .column_promo .column_promo_1 .column_promo_1_img img, main .column_promo .column_promo_2 .column_promo_1_img img {
    width: 42%;
  }
  main .column_promo .column_promo_1 nav, main .column_promo .column_promo_2 nav {
    margin-top: 275px;
  }
  main .column_promo .column_promo_2 .column_promo_1_head p {
    padding-right: 208px;
  }
  main .column_promo .column_promo_2 .column_promo_2_img img {
    margin-top: 75px;
    width: 65%;
  }
  main .blog .btn_blog {
    margin-top: 45px;
  }
}
@media screen and (max-width: 600px) {
  .head_slider .head_slider_sl .sl_slide .carousel-caption img {
    width: 20%;
  }
  .head_slider .head_slider_sl .sl_slide .carousel-caption h1 {
    font-size: 35px;
    padding-top: 15px;
  }
  .head_slider .head_slider_sl .sl_slide .carousel-caption p {
    font-size: 10px;
    padding-bottom: 15px;
  }
  .head_slider .head_slider_sl .sl_slide .carousel-caption .btn_slider {
    margin-top: 15px;
    padding: 5px 10px;
    font-size: 8px;
  }
}
@media screen and (max-width: 575px) {
  main .column_promo .column_promo_1 .column_promo_1_head p, main .column_promo .column_promo_2 .column_promo_1_head p {
    padding-right: 230px;
    padding-bottom: 70px;
  }
  main .column_promo .column_promo_1 .column_promo_1_img img, main .column_promo .column_promo_2 .column_promo_1_img img {
    width: 39%;
  }
  main .column_promo .column_promo_1 nav, main .column_promo .column_promo_2 nav {
    margin-top: 270px;
  }
  main .column_promo .column_promo_2 .column_promo_1_head p {
    padding-right: 255px;
  }
  main .column_promo .column_promo_2 .column_promo_2_img img {
    margin-top: 58px;
  }
  main .blog .img_blog {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
  }
  main .blog .blog_big {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  main .blog .blog_big .span_blog {
    position: inherit;
    height: 90px;
  }
  main .blog .blog_big .span_blog:nth-child(2) {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  main .blog .blog_big .span_blog .text {
    position: inherit;
    top: 0;
    margin: 0;
    padding: 25px 0;
  }
  main .blog .blog_big .img_blog:nth-child(2) {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }

  footer .brand_logos .brand:nth-child(4) {
    padding-bottom: 0;
  }
}
@media screen and (max-width: 549px) {
  main .column_promo .column_promo_1 .column_promo_1_head p, main .column_promo .column_promo_2 .column_promo_1_head p {
    font-size: 40px;
  }
  main .column_promo .column_promo_1 nav, main .column_promo .column_promo_2 nav {
    margin-top: 255px;
  }
  main .column_promo .column_promo_2 .column_promo_2_img img {
    margin-top: 52px;
  }
}
@media screen and (max-width: 515px) {
  .navigation .logo img {
    width: 70%;
  }
  .navigation .header_burger {
    top: 55%;
  }
  .navigation .header_top {
    height: 30px;
  }
  .navigation .header_top .header_menu_top_nav {
    top: 79px;
  }
  .navigation .header_bottom {
    height: 49px;
  }
  .navigation .header_bottom .header_menu_bottom_nav {
    top: 49px;
  }

  .head_slider .head_slider_sl {
    padding-top: 79px;
  }
  .head_slider .head_slider_sl .sl_slide .carousel-caption h1 {
    font-size: 30px;
    padding-top: 15px;
  }
  .head_slider .head_slider_sl .sl_slide .carousel-caption p {
    padding-bottom: 10px;
  }
  .head_slider .head_slider_sl .sl_slide .carousel-caption .btn_slider {
    margin-top: 10px;
  }

  main .column_promo .column_promo_1 .column_promo_1_head p, main .column_promo .column_promo_2 .column_promo_1_head p {
    font-size: 35px;
  }
  main .column_promo .column_promo_1 nav, main .column_promo .column_promo_2 nav {
    margin-top: 238px;
  }
  main .column_promo .column_promo_2 .column_promo_2_img img {
    margin-top: 50px;
  }
}
@media screen and (max-width: 485px) {
  main .column_promo .column_promo_1 .column_promo_1_head p, main .column_promo .column_promo_2 .column_promo_1_head p {
    padding-bottom: 55px;
    padding-right: 200px;
  }
  main .column_promo .column_promo_1 nav, main .column_promo .column_promo_2 nav {
    margin-top: 222px;
  }
  main .column_promo .column_promo_2 .column_promo_1_head p {
    padding-right: 220px;
  }
  main .column_promo .column_promo_2 .column_promo_2_img img {
    margin-top: 45px;
  }
}
@media screen and (max-width: 460px) {
  main .column_promo .column_promo_1 .column_promo_1_head, main .column_promo .column_promo_2 .column_promo_1_head {
    margin-top: 30px;
  }
  main .column_promo .column_promo_1 .column_promo_1_head p, main .column_promo .column_promo_2 .column_promo_1_head p {
    font-size: 30px;
    padding-right: 180px;
  }
  main .column_promo .column_promo_1 nav, main .column_promo .column_promo_2 nav {
    margin-top: 205px;
  }
  main .column_promo .column_promo_2 .column_promo_1_head p {
    padding-right: 200px;
  }
  main .column_promo .column_promo_2 .column_promo_2_img img {
    margin-top: 45px;
  }
}
@media screen and (max-width: 474px) {
  .head_slider .head_slider_sl .sl_slide .carousel-caption h1 {
    font-size: 25px;
    padding-top: 10px;
  }
  .head_slider .head_slider_sl .sl_slide .carousel-caption p {
    font-size: 8px;
  }
  .head_slider .head_slider_sl .sl_slide .carousel-caption .btn_slider {
    font-size: 6px;
  }

  footer .footer_menu .links {
    line-height: 2.5;
  }
}
@media screen and (max-width: 425px) {
  .head_slider .head_slider_sl .sl_slide .carousel-caption h1 {
    font-size: 22px;
    padding-top: 8px;
  }
  .head_slider .head_slider_sl .sl_slide .carousel-caption .btn_slider {
    font-size: 5px;
    margin-top: 0;
  }
  .head_slider .head_slider_sl .sl_slide .slick-prev {
    left: 8px;
    border-bottom: 3px solid #ff6600;
    height: 5px;
    width: 20px;
  }
  .head_slider .head_slider_sl .sl_slide .slick-next {
    right: 8px;
    border-bottom: 3px solid #ff6600;
    height: 5px;
    width: 20px;
  }

  main .column_promo .column_promo_1 .column_promo_1_head p, main .column_promo .column_promo_2 .column_promo_1_head p {
    font-size: 26px;
  }
  main .column_promo .column_promo_1 nav, main .column_promo .column_promo_2 nav {
    margin-top: 190px;
  }
  main .column_promo .column_promo_2 .column_promo_2_img img {
    margin-top: 40px;
  }
  main .blog .head_blog {
    margin: 30px 0;
  }
  main .blog .head_blog h1 {
    font-size: 42px;
  }
  main .blog .head_blog span {
    font-size: 18px;
  }

  footer .brand_logos .brand {
    padding: 30px 0px;
  }
}
@media screen and (max-width: 400px) {
  main .column_promo .column_promo_1 .column_promo_1_head p, main .column_promo .column_promo_2 .column_promo_1_head p {
    font-size: 24px;
  }
  main .column_promo .column_promo_1 nav, main .column_promo .column_promo_2 nav {
    margin-top: 180px;
  }
  main .column_promo .column_promo_2 .column_promo_2_img img {
    margin-top: 35px;
  }
}
@media screen and (max-width: 375px) {
  main .column_promo .column_promo_1 .column_promo_1_head p, main .column_promo .column_promo_2 .column_promo_1_head p {
    font-size: 22px;
    padding-right: 170px;
    padding-bottom: 40px;
  }
  main .column_promo .column_promo_1 .column_promo_1_img img, main .column_promo .column_promo_2 .column_promo_1_img img {
    width: 36%;
  }
  main .column_promo .column_promo_1 nav, main .column_promo .column_promo_2 nav {
    margin-top: 160px;
  }
  main .column_promo .column_promo_2 .column_promo_2_img img {
    width: 60%;
  }
  main .column_promo .column_promo_2 .column_promo_1_head p {
    padding-right: 180px;
  }
}
@media screen and (max-width: 320px) {
  main .column_promo .column_promo_1 .column_promo_1_head, main .column_promo .column_promo_2 .column_promo_1_head {
    margin-top: 18px;
    border-right: solid 3px #ffffff;
    border-bottom: solid 3px #ffffff;
  }
  main .column_promo .column_promo_1 .column_promo_1_head:before, main .column_promo .column_promo_2 .column_promo_1_head:before {
    border-top: 3px solid #ffffff;
  }
  main .column_promo .column_promo_1 .column_promo_1_head:after, main .column_promo .column_promo_2 .column_promo_1_head:after {
    border-left: 3px solid #ffffff;
  }
  main .column_promo .column_promo_1 .column_promo_1_head p, main .column_promo .column_promo_2 .column_promo_1_head p {
    font-size: 19px;
    padding-right: 140px;
    padding-bottom: 45px;
  }
  main .column_promo .column_promo_1 nav, main .column_promo .column_promo_2 nav {
    margin-top: 140px;
  }
  main .column_promo .column_promo_2 .column_promo_1_head p {
    padding-right: 150px;
  }
  main .column_promo .column_promo_2 .column_promo_2_img img {
    margin-bottom: 10px;
  }

  .blog .head_blog h1 {
    font-size: 38px;
  }
  .blog .head_blog span {
    font-size: 16px;
  }
}
